.stylesBlock {
  display: flex;
  margin-top: -45px;
}

.tittleActivity {
  color: #555555;
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
  margin-top: 130px;
  height: 78px;
  width: 235px;
}

.tittleAndCourse {
  margin-left: 113px;
}

.blockbanco {
  margin-left: 33px;
}
