@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Resumo */

.Resume {
    color: #555555;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    padding: 80px 100px 0px 80px;
}

._resume {
    color: #555555;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    /* padding: 80px 100px 0px 80px; */
}

._numeroMatriculado {
    color: #595959;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    font-height: 33px;
    margin-left: 35px;
}

._cursosMatriculados {
    color: #A5A5A5;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-left: 35px;
    }

.block {
    display: block;
    background: #F7F7F7;
    width: 236px;
    height: 87px;
    left: 448px;
    top: 137px;
    border: 1px solid #FFFFF;
    box-sizing: border-box;
    border-radius: 20px
}