@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.block {
    width: 236px;
    height: 87px;
    top: 137px;
    left: 448px;
    background: #F7F7F7;
    border-radius: 20px;
    margin-left: 112px;
    margin-top: 137px;
}

.propsNumber {
    color: #595959;
    font-family: 'Nunito', sans-serif;
    font-size:24px;
    margin-left: 33px;
    margin-top: 18px;
}

.propsInfo {
    color: #A5A5A5;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    margin-left: 33px;
    margin-top: -18px;
}

.found {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #7D7D7D;
    background-color: white;
    margin-top: 19px;
    margin-left: 165px;
    }