@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.Sidebar {
    background: #fafafa;
    display: flex;
    width: 336px;
    height: 100vh;
    flex-direction: column;
}

/* Fausto Silva */

.propsName {
    color: #727272;

    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 27px;
}


.propsCourse {
    color: #727272;

    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
}

.avatar--fausto {
    margin: 0 auto;
    display: flex;
    text-align: center;
    margin-top: 85px;
    margin-left: 115px;
}

.avatar--fausto img {
    max-width: 90px;
    border-radius: 50%;
    align-items: center;
}

/* Dashboard-button */

.button-dashboard {
    color: #6A6A6A;
    display: flex;

    font-family: 'Nunito', sans-serif;
    margin-top: 150px;
    margin-right: 135px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

    transition: all 0.5s;
    cursor: pointer;
}

.button-dashboard a:link {
    text-decoration: none;
}

.button-dashboard a:visited {
    color:#6A6A6A;
    font-weight: bold;
    text-decoration: none;
}

.button-dashboard a:hover{
    text-decoration: none;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.1));
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));
}

/* Dashboard-course */

.button-courses {
    color: #6A6A6A;
    display: flex;

    font-family: 'Nunito', sans-serif;
    margin-top: 35px;
    margin-right: 135px;
    font-size: 22px;
    text-decoration: none;

    transition: all 0.5s;
    cursor: pointer;
}

.button-courses a:link {
    text-decoration: none;
}

.button-courses a:visited {
    color:#6A6A6A;
    font-weight: bold;
    text-decoration: none;
}

.button-courses a:hover{
    text-decoration: none;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.1));
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));
}