.stylesBlock1 {
  display: flex;
  margin-left: 115px;
}

.tittleActivity1 {
  color: #555555;
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
  margin-left: 115px;
  margin-top: 125px;
}

.button-algoritmo {
  text-decoration: none;
  cursor: pointer;
}

.button-banco {
  text-decoration: none;
  cursor: pointer;
  margin-left: 34px;
}
